{% extends 'base.html.twig' %}
{% block title 'Agence de ta Vie'%}

{% block body %}
<div class="jumbotron txt-center">
    <h1>Agence de ta Vie</h1>
    <p> LoremAmet tempor dolor eu pariatur eiusmod exercitation Lorem. Consectetur aute esse ipsum amet aliqua dolore id pariatur cillum deserunt consequat in esse. Non non mollit id proident laborum reprehenderit commodo reprehenderit ad mollit aliqua. Deserunt ea id minim qui excepteur dolore quis quis minim minim sint nostrud. Ipsum sit cillum nisi voluptate. </p>
</div>
{% endblock %}
